.ItemCardDetail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  padding: 15px;
  margin: 5rem 15rem;
  gap: 100px;
}

.ItemImgDetail {
  max-height: 400px;
  object-fit: cover;
}

.ItemBuyDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemPriceDetail {
  font-size: 22px;
  margin-block: 10px;
}

.ItemInfoDetail {
  display: flex;
  flex-direction: column;
  
}
