.ItemCard {
    width: 300px;
    padding: 15px 15px 30px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    margin: 15px;
  }
  
  .ItemName {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .ItemImg {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .ItemInfo {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .ItemDescription {
    font-size: 14px;
    color: #555;
  }