.CartWidgetContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CartWidgetQuantity {
    margin-inline: 0.5rem;
}

.CartWidgetIcon {
    width: 50px;
    filter: invert(1)
}