.SubcategoriesNavbar {
  position: absolute;
  top: 100%; 
  left: 0;
  display: none;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.SubcategoriesNavbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.SubcategoriesNavbar li {
  padding: 5px 0;
}

/* .SubcategoriesNavbar:hover ul li {
  display: flex;
} */

ul li:hover .SubcategoriesNavbar {
  display: flex;
  flex-direction: column;
}

select {
  padding: 40px;
}