@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,500;1,300;1,500&display=swap');

:root {
    --primary-color: rgb(52,48,46);
    --secondary-color: rgb(82,31,9);

    --title: 'Prompt', sans-serif;
    --text: 'Prompt', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: var(--title)
}