.ItemControls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ItemBtnCount {
    padding: 0.1rem 1.8rem;
    font-size: 30px;
    cursor: pointer;

    background-color: transparent;
    border-color: #fff;
    color: #fff;
    border-radius: 6%;
}

.ItemNumber {
    font-size: 1.5rem;
    margin: 1rem;
}

.ItemBtnCart {
    padding: 0.7rem 1.5rem;
    font-size: 20px;
    cursor: pointer;

    background-color: transparent;
    border-color: #fff;
    color: #fff;
    border-radius: 3%;
}